body{
    font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    background-color: #f7f7f7;
    font-size: 1.2rem;
}
body, html{
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(218, 217, 217);
    
    height: 20vh;
    width: 100%;
    
}
.header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
.header ul li{
    padding: 30px;
}
.header ul li a{
    text-decoration: none;
    color: grey;
}
.header img{
    padding: 20px;
}
.header i{
    padding: 40px;
    font-size: 1.5em;
    font-weight: 600;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin: 10px auto;
}
.navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 30px;
}
.navigation ul li{
    padding: 30px;
}
.navigation ul li a{
    text-decoration: none;
    color: grey;
}
.credit_cards{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(218, 217, 217);
    background-color: white;
    flex-direction: column;
    
}
.credit_cards_container{
    width: 70%;
    text-align: center;
    color: rgb(96, 96, 96);
    margin: 30px auto;
}
.credit_cards_container p{
    font-size: 3vmin;
    line-height: 1.3;
}
.credit_cards_container h1{
    padding: 10px;
    font-size: 9vmin;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    
    
}
.credit_cards_container2{
    width: 100%;
   display: flex;
   align-items: center;
   
   flex-direction: column;
    margin-top: 80px;
}
.div_1{
    width: 80%;
    border-top: 1px solid rgb(194, 193, 193);
    border-bottom: 1px solid rgb(194, 193, 193);
    height: 20vh;
    display: flex;
    align-items: center;
}
.div_1 p{
    font-size: 6vmin;
}
.div_2{
    width: 85%;
    
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
   
   
}
.card_contanier{
    width: 30%;
    height: auto;
}
.content_container{
    width: 60%;
    height: auto;
}
.content_container h1{
    font-weight: 100;
}
.content_container button{
    padding: 15px;
    margin-top: 10px;
    width: 12vw;
    background-color: white;
    border: 2px solid rgb(194, 193, 193);
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin;


}
.card_contanier img{
    width: 10vw%;
    height: auto;
}
.content_container button:hover{
    
    border: 2px solid rgb(132, 131, 131);


}
.content_container p{
    opacity: transparent;
    margin-top: 5px;
    font-size: 2.8vmin;
}